@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #27595063,#2a8c8275);
}
main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #1d443d9c;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #0c3029;
    text-align: center;
    text-shadow: 1px 1px 5px  #22463f2a;
}
h2{
    color: #41BFB3
}
 p{
    text-align: justify;
 }